<div class="container mt-3">
  <div class="text-center">
    <h3>Tem certeza que deseja eliminar</h3>
    <div class="container">
      <div class="text-center mt-5">
        <button class="btn btn-outline-primary mt-3" type="submit" [routerLink]="['/']"
          routerLinkActive="router-link-active">
          Voltar</button>
      </div>
      <div class="text-center mt-5">
        <button class="btn btn-danger" type="button" (click)="deleteMarcacao()">Deletar</button>
      </div>
    </div>
  </div>


</div>
